.schedules-container{
    display:flex;
    flex-direction:column;
    gap:28px;
}

.day-title{
    font-size:24px;
    font-weight:700;
    color:#ec4899;
    margin:25px 0 5px;
    border-left:5px solid #ec4899;
    padding-left:12px;
}

.schedule-card{
    background:#fff;
    border-radius:20px;
    padding:25px;
    margin-top:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.25s;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.schedule-card:hover{
    transform:translateY(-4px);
    box-shadow:0 18px 35px rgba(0,0,0,.12);
}

.schedule-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.schedule-header h2{
    margin:0;
    color:#374151;
    font-size:24px;
}

.schedule-time{
    text-align:center;
}

.schedule-time h1{
    margin:0;
    font-size:58px;
    font-weight:700;
    color:#ec4899;
}

.schedule-time small{
    display:block;
    margin-top:5px;
    color:#9ca3af;
    font-size:15px;
}

.schedule-status{
    padding:8px 18px;
    border-radius:30px;
    font-size:14px;
    font-weight:700;
}

.status-pending{
    background:#FFF8DB;
    color:#B7791F;
}

.status-done{
    background:#DCFCE7;
    color:#166534;
}

.status-missed{
    background:#FEE2E2;
    color:#991B1B;
}

.schedule-info{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:18px;
}

.info-box{
    background:#F9FAFB;
    border-radius:14px;
    padding:18px;
    border:1px solid #E5E7EB;
}

.info-box span{
    display:block;
    color:#9CA3AF;
    font-size:13px;
    margin-bottom:6px;
}

.info-box strong{
    color:#374151;
    font-size:17px;
}

.schedule-button{
    border:none;
    border-radius:14px;
    padding:14px;
    background:#ec4899;
    color:white;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:.2s;
}

.schedule-button:hover{
    background:#db2777;
    transform:scale(1.02);
}

.schedule-card.pending{
    border-left:8px solid #FBC02D;
}

.schedule-card.done{
    border-left:8px solid #22C55E;
}

.schedule-card.missed{
    border-left:8px solid #EF4444;
}

@media (max-width:768px){

    .schedule-time h1{
        font-size:42px;
    }

    .schedule-header{
        flex-direction:column;
        gap:15px;
        align-items:flex-start;
    }

}






.notification-card{

    background:linear-gradient(
        135deg,
        #ec4899,
        #f472b6
    );

    color:white;

    border-radius:20px;

    padding:25px;

    margin-bottom:30px;

    box-shadow:0 10px 30px rgba(236,72,153,.30);

}

.notification-card h1{

    font-size:52px;

    margin:10px 0;

}

.notification-card h2{

    margin:0;

}

.notification-card h3{

    margin-top:15px;

}

.notification-card.success{

    background:linear-gradient(
        135deg,
        #16a34a,
        #22c55e
    );

}